/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset 
====================== */

html,
body {
	height: 100%;
}
#mainpage,
#aboutpage,
#contactpage {
	height: 100%;
	min-height: 100%;
	overflow: auto;
	position: relative;
	width: 100%;
}
body {
	font-family: 'Francois One', sans-serif;
	color: black;
	background: #eee;
	text-transform: uppercase;
}
#textbox p,
#textbox a {
	text-transform: none;
	font-family: Garamond, Georgia, serif;
}
#mainpage {
	background-image: url('http://dp0dygervfbgv.cloudfront.net/img/brooklynbridge.jpg');
	-webkit-background-size: cover cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Header
============================ */
#mainpage #main-title a {
	color: white;
}
#main-title {
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	overflow: visible;
	width: 100%;
	min-width: auto;
}
.nameplate {
	left: 15px;
	position: absolute;
	top: 570px;
	font-size: 2.5em;
	letter-spacing: .05em;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;
  	-ms-transform-origin: 0 0;
    transform-origin: 0 0;
	-webkit-transition: left .6s cubic-bezier(0.165,.84,.44,1),color .3s linear;
	transition: left .6s cubic-bezier(0.165,.84,.44,1),color .3s linear;
	z-index: 40;
	margin: 0;
	padding: 0;
	border: 0;
}
#mainpage #main-title {
	background: rgba(0,0,0,.2);
}
nav {
	z-index: 800;
}

/* Navigation Button
======================= */
#toggle {
	position: absolute;
	height: 65px;
	width: 65px;
}
.hamburger {
	width: 40px;
	height: 6px;
	background: #000;
	position: absolute;
	top: 32px;
	left: 15px;
}
.hamburger:after,
.hamburger:before {
	content:'';
	display:block;
	width:40px;
	height:6px;
	background: #000;
	position:absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.hamburger:before {
	margin-top: -11px;
}
.hamburger:after {
	margin-top: 11px;
}
#mainpage .hamburger,
#mainpage .hamburger:before,
#mainpage .hamburger:after {
	background: #fff;
	height: 5px;	
}
.open .hamburger:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #fff;
	margin-top: 10px;
	position: absolute;
}
.open .hamburger:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #fff;
}
#mainpage .open .hamburger {
	background: none;
}
.open .hamburger {
	background: none;
}
header nav {
	height: 65px;
	width: 65px;
	position: absolute;
}
header a {
	color: #000;
	text-decoration: none;
}

/* Image Grid Styles
==================== */
#container {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
   padding: 5px 5px 0 5px;
}
#container li {
	padding: 5px;
}
#container img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
/* Photo Overlay Styles 
======================== */
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	background: rgba(0,0,0,.8);
	text-align: center;
}
#overlay img {
	margin-top: 3%;
	max-height: 80%;
	max-width: 80%;
}
#overlay p {
	color: #fff;
	font-family: Garamond, Georgia, serif;	
  	font-weight: 300;
  	font-size: 1.3em;
  	margin: 0;
  	padding: 0;
  	-webkit-font-smoothing: antialiased;
}

/* Photo Container Section Margin
=================================== */
#outer_container {
	margin-left: 65px;
	background: url('http://dp0dygervfbgv.cloudfront.net/img/black_lozenge.png');
}

/* Nav_Overlay Styles
===================================== */
#nav_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 700;
	background: rgba(0,0,0,.8);
	text-align: center;
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	overflow: auto;
}
#nav_menu {
	padding-top: 100px;
}
#nav_menu li {
	font-size: 1.6em;
	margin-bottom: 16px;
}
#nav_menu li a {
	color: #fff;
	font-size: 1.25em;
	text-decoration: none;
}
#nav_menu #portfolio {
	position: relative;
}

/* Portfolio Menu
=========================================== */
#port_menu li a {
	font-size: .9em;
}

/* About Page
=========================================== */
#aboutpage {
	background-image: url('http://dp0dygervfbgv.cloudfront.net/img/pinkflowers.jpg');
	-webkit-background-size: cover cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#textbox {
	width: 75%;
	max-width: 650px;
	height: 100%;
	min-height: 440px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.6);
	overflow: auto;
}
#textbox h1 {
	font-size: 3em;
	padding-top: 18px;
}
#textbox h2:first-of-type {
	margin-top: 1em;
}
#textbox h1,
#textbox h2,
#textbox a {
	margin-left: 18px;
}
#textbox h2 {
	font-size: 1.5em;
	margin-bottom: .25em;
}
#textbox a {
	display: block;
	text-decoration: none;
	color: black;
	margin-bottom: 2em;
	margin-top: .5em;
	font-size: 1.2em;
}
#textbox p {
	font-size: 1.7em;
	line-height: 1.2;
	margin: 0 auto;
	width: 90%;
	padding-top: 36px;
}

/* Contact Page
=========================================== */
#contactpage {
	background-image: url('http://dp0dygervfbgv.cloudfront.net/img/sugarbowl.jpg');
	-webkit-background-size: cover cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Media Queries
=========================================== */
@media screen and (max-width: 950px) { 
	#container {
		-webkit-column-count: 2;
		-webkit-column-gap:   0px;
		-moz-column-count:    2;
	    -moz-column-gap:      0px;
		column-count:         2;
		column-gap:           0px;
	}
}
@media screen and (max-width: 740px) {
	#textbox p {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 550px) {
	.nameplate {
		top: 440px;
		font-size: 2em;
		min-width: 400px;
		left: 14px;
	}
	.hamburger,
	.hamburger:before,
	.hamburger:after {
		width: 29px;
		height: 5px;
	}
	.hamburger:before {
		margin-top: -9px;
	}
	.hamburger:after {
		margin-top: 9px;
	}
	.open .hamburger:before {
		margin-top: 9px;
	}
	#textbox {
		margin-left: 60px;
		width: auto;
	}
	#textbox h1 {
		font-size: 2.5em;
	}
	#textbox a {
		font-size: 1em;
	}
	#textbox p {
		width: 90%;
		margin: 0;
		margin-left: 18px;
	}
	#outer_container {
		margin-left: 60px;
	}
	#container {
		-webkit-column-count: 1;
		-webkit-column-gap:   0px;
		-moz-column-count:    1;
	    -moz-column-gap:      0px;
		column-count:         1;
		column-gap:           0px;
	}
}
@media screen and (max-height: 400px) {
	.nameplate {
		left: 19px;
		top: 310px;
		font-size: 1.4em;
	}
}